body {
  text-align: center;
  padding: 0 25px;
  font-family: arial, sans-serif;
}
h3 {
  text-decoration: underline;
}

#main {
  width: 700px;
  margin: auto;
  text-align: left;
  background-color: #D3E5F2;
  padding: 30px 60px;
  border: solid #232323;
  border-width: 0 1px 1px 1px;
}

#main h1 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 5px;
  padding: 5px;
}
#main h1 span {
  font-style:italic;
}
#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}


.chat .username {
  font-weight: 800;
}
.chat .friend {
  color: blue;
}
.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}

.reload {
  width: 500px;
  text-align: center;
  padding: 0 20px;
  margin: auto;
}

.update {
  min-width: 80px;
}
.talk {
  margin: 0 30px 5px 0;
  min-width: 80px;
}

.roomSelector, .friendList {
  margin: 20px 0;
  background-color: #D3E5F2;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
}
.rooms {
  margin-bottom: 30px;
}
.newRoomForm {
  padding: 30px auto;
}
#newRoom {
  max-width: 140px;
  display: inline;
}

.contain {
  width: 700px;
}